*~
test-driver
neoleo-7.0.0/
neoleo-8.0.0/
config.h
config.h.in
config.guess
config.sub
.libs
libtool
ltmain.sh
test.oleo.old
*.tar.gz
neoleo-3.0/
Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing
Makefile
config.log
config.status
.deps/
*.o
*.lo
*.la
neoleo
ylwrap
*.old
stamp-h*
